{# Login Page #}
{% extends "page_base.html" %}

{% load pipeline %}

{% block css %}
{% stylesheet 'login' %}
{% endblock css %}

{% block js %}
{% javascript 'login' %}
{% endblock js %}

{% block body %}

<div id="app" class="name"></div>

<form action="" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in form %}
    {{ field }}<br />
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <button class="submit accent">Log in</button>
</form>

{% endblock body %}
