{# Base template that all pages extend from #}
{% load static %}
{% load pipeline %}
{% load jsonify %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        {% if page_title %}
        <title>BusMan | {{ page_title }}</title>
        {% else %}
        <title>BusMan</title>
        {% endif %}
        {% stylesheet 'base' %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script charset="utf-8">
            window.data = {{ data|jsonify }}
        </script>
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
        {% block js %}
        {% endblock js %}
    </body>
</html>
