{# Base template that all pages extend from #}
{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        {% if page_title %}
        <title>BusMan | {{ page_title }}</title>
        {% else %}
        <title>BusMan</title>
        {% endif %}
        {% stylesheet 'base' %}
        {% block css %}
        {% endblock css %}
        <script src="{% static "js/vendor/vue.js" %}" charset="utf-8"></script>
        {% block js %}
        {% endblock js %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
