@import '../colors';
@import '../ui';
@import '../mixins';

.topbar {
    width: 100vw;

    @include drop-shadow;
    padding: 1rem;
    border-top: 5px solid $accent;
    position: fixed;
    top: 0;

    background-color: $true-white;

    font-weight: bold;
}

.map-svg > svg {
    width: 100vw;
    height: 70vh;
}

body > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.actionbar {
    position: absolute;
    bottom: 0;
    transform: translateY(6rem);
    will-change: transform;

    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    @include drop-shadow-top;

    .action {
        width: 100vw;
        padding: 1rem 1.5rem;

        background-color: $true-white;

        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.5px;

        * {
            pointer-events: none;
        }

        @include no-select;

        i.fa {
            margin-right: 0.5rem;
        }
    }

    .action:first-child {
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;

        padding-top: 1.4rem;
    }

    .action:last-child {
        padding-bottom: 1.4rem;
    }
}
