@import '../colors';
@import '../ui';
@import '../mixins';

.topbar {
    width: 100vw;

    @include drop-shadow;
    padding: 1rem;
    border-top: 5px solid $accent;
    position: fixed;
    top: 0;

    background-color: $true-white;

    font-weight: bold;
}

.map-svg > svg {
    width: 100vw;
    height: 70vh;
}

body > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.actionbar {
    position: absolute;
    bottom: 0;
    transform: translateY(6rem);
    will-change: transform;

    .action {
        width: 100vw;
        padding: 1rem;

        background-color: $true-white;

        font-weight: bold;

        @include no-select;
    }
}